.divmessage {
    padding-top: 5px;
    padding-bottom: 5px;
    .divmessageerror {
        background: #730800;
        border: 1px solid #730800;
        color: #fefee0;
        border-radius: 5px;
        padding-left: 5px;
    }
    .divmessagevalid {
        background: #0a8435;
        border: 1px solid #0a8435;
        color: #fefee0;
        border-radius: 5px;
        padding-left: 5px;
    }
}
